@font-face {
	font-family: 'MuseoSlab';
	src: url('/font/Museo_Slab_500.otf');
}

@font-face {
	font-family: 'Lobster';
	src: url('/font/Lobster.otf');
}

body {
	background:url('/images/background.png');

}




.container {
	width: 780px;
	height: 580px;
	background: rgba(255, 255, 255, 0.8);
	
	margin-top: 50px;
	margin-left:auto;
	margin-right:auto;	
}


.container h3 {
	font-family: MuseoSlab;
	font-size: 18px;
	font-weight:normal;
	color: #5a5a5a;
}
.container #header {
	background-image: url("/images/header.png");
	margin-left: -50px;
	margin-top: -50px;
	
	opacity: 0.75;
	filter: alpha(opacity=1);
}

.container #login-signup  {
	margin-left: auto;
	margin-right: auto;
	opacity: 0.7;
}

.container #login-signup img {
	border-style: none;
}



.container-user {
	width: 950px;
	height: 680px;
	
	margin-left: 5%;
	margin-right: 10%;
	margin-top: -60px;
}


.container-user #user-details {
	width: 250px;
	height: 450px;
	
	text-align:center;
	
	float: left;
	
	margin-top: -120px;
	
	background: rgba(255, 255, 255, 0.8);
	
}

.container-user #user-details #user-edit {
	padding-left: 30x;
	margin-top: 380px;
	
}


.container-user #user-details #user-edit a {
	font-family: MuseoSlab;
	font-size:18px;
	color: #8b8d89;
	
	text-decoration: none;
}

.container-user #user-details #user-edit a:hover {
	font-family: MuseoSlab;
	font-size:18px;
	color: #3a3b39;
	
	text-decoration: none;
}

.container-user #user-list{
	width: 680px;
	height: 1000px;
	 
	float: right;

	margin-top: -120px;

	background: rgba(255, 255, 255, 0.8);
}

.container-user h2 {
	font-family: Lobster;
	font-size:100px;
	color: #4bb8df;
}

.container #signup-form {
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px;
	width: 550px;
}

.container #signup-form #title {
	font-family: Lobster;
	font-size: 30px;
	text-align:center;
	margin-bottom: -30px;
}

.container #signup-form .field {
	font-family: MuseoSlab;
	margin: 0 auto;
	width: 200px;
	padding-top:5px;
}

.container #signup-form #section {
	float: left;
	margin: 0 auto;
	width: 225px;
	padding: 10px;
	padding-bottom:30px;
}


.container #signup-form .actions {
	padding-top: 40px;
	text-align: center;
}

.container #signup-form .actions input {
	font-family: MuseoSlab;
	font-size: 17px;
}


