<div class="container-user">
	<div id="username">
		<h2><%= @user.username %></h2>
	</div>
	<div id="user-details">
		<div id="user-edit">
			<%= link_to "Account Settings", '#'%><br/>
			<%= link_to "Sign Out", signout_path %>
		</div>
	</div>
	<div id="user-list">
		
	</div>
	
</div>