<% if @user.errors.any? %>
	<div id="error">
		<h2>Uh Oh! There was some errors making your account!</h2>
		<p> There were some errors making your account, please check your account
			details that you have entered</p>
	</div>
<% end %>