<div id="event_create">
	<div id="form_area">
		<span class="heading">Enter an event name:</span><br/>
		<%= form_for @event do |e| %>
                        <div class="field">
			<% unless @event.errors.any? %>
			  <%= e.text_field :title, :size => "34", :placeholder => "Eg: Wedding, Christmas, Hanukkah" %>
                        <% else %>
			  <%= e.text_field :title, :size => "34", :placeholder => "Uh Oh! An event name is required" %>
                        <% end %>
			</div>
			<div class="actions">
			  <%= e.submit "Create my event"%>
			</div>
		<% end %>
	</div>	
</div>


		
