
<div class="container">
	<img id="header" src="/images/header.png"/>
	<div id="login-signup">
		<%= link_to image_tag("buttons/login.png"), signin_path, :class => "login-button" %><br/>
		<%= link_to image_tag("buttons/signup.png"), signup_path, :class => "signup-button" %>
	</div>	
</div>