
<div class="container">
	<img id="header" src="/images/header.png"/>
	<div id="login-signup">
		<%= link_to image_tag("buttons/login.png"), signin_path, :class => "login-button" %><br/>
		<%= link_to image_tag("buttons/signup.png"), signup_path, :class => "signup-button" %>
	</div>	
	
	<div id="lower-content">
		<div id="item">
			<h3>The Curse Of Crappy Gifts</h3>
			<p>
			   Stop getting the same old pair of crappy underwear 
			   for Christmas or prevent yourself from getting the
			   same toaster on your wedding day!
			</p>
		
		</div>
		<div id="item">
			<h3>Always Give The Right Gift</h3>
			<p>
			   Never get the wrong size or the wrong thing.
			   Be sure to get it right when you buy a gift for
			   your friend or family member.
			</p>
		</div>
		<div id="item">
			<h3>Share Stuff With The World</h3>
			<p>
			Tell the world what you really want! Share your list 
			via Twitter or Facebook so that your friends and family
			know what to get you!
			</p>
		</div>	
	</div>
</div>